################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/Framework/MyLib/.vs/MyLib/v16/Server/sqlite3
/Framework/MyLib/MyLib/obj/Debug
/Consumer/Consumer/.vs/Consumer/v16/Server/sqlite3
/Consumer/Consumer/Consumer/obj/Debug
